<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.dv.ej"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Prueba CHR1</name>

    <description>
        Chrysler. 
    </description>

    <author href="https://example.com" email="you@example.com">
        DV
    </author>

	<preference name="target-device" value="universal" />
	
	<application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Convert"
                  android:label="@string/app_name"
                   android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
 
    </application>
	
	</author>
	
	<supports-screens
	android:largeScreens="true"
	android:normalScreens="true"
	android:smallScreens="true"
	android:xlargeScreens="true"
	android:resizeable="true"
	android:anyDensity="true"
	/>
	
	<preference name="backgroundColor" value="0x00000000" />
	<preference name="loadingDialog" value="Prueba CHR, cargando - espere porfavor" />
	<preference name="fullscreen" value="true" />
	
	<key>[UIApplication sharedApplication].statusBarHidden = YES;</key>

</widget>